{% extends 'base.html' %}

{% block content %}
<h4><b>{{ tank['name_i18n'] }}</b></h4>
<table>
    <tr>
        <td valign="top" width="160">
            <image src="{{ tank['image'] }}"></image>
        </td>
        <td valign="top" align="left">
            <div>Тип: {{ tank['type_i18n'] }}</div>
            <div>Уровень: {{ tank['level'] }}</div>
            <div>Нация: {{ tank['nation_i18n'] }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div>{{ vehicle['description'] }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {% if next_tanks %}
                <div>Следующие танки:
                {% for tank in next_tanks %}
                    <a href="{{ tank['tank_id'] }}">{{ tank['name_i18n'] }}</a>
                    {{ '/' if not loop.last }}
                {% endfor %}
                </div>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}
